body {
    background-color: #EFD28D; font-family: 'Rubik', sans-serif;
}

p {
    color: #2F2D2E;
}

a:link {
    color: #2F2D2E;
}

h1 {
    color: #2F2D2E;
}

nav a {
    color: #2F2D2E;
}

nav a {
    background-color: #00d2da;
}

nav a:hover {
    background-color: #FFFFFF;
}

nav {
    padding: 10px;
}

nav {
    margin-bottom: 30px;
}


@media only screen and (max-width: 600px) {
    .toolbar {width: 100%;}
    .pipe {display: none;}
}


