body {
    background-color: #ffffff;
}

p {
    color: #000000;
}

a:link {
    color: #000000;
}

h1 {
    color: #ffffff;
}

nav a {
    color: #000000;
}

nav a {
    background-color: #FFFFFF;
}

nav a:hover {
    background-color: #ffffff;
}

nav {
    padding: 10px;
}

nav {
    margin-bottom: 30px;
}


@media only screen and (max-width: 600px) {
    .toolbar {width: 100%;}
    .pipe {display: none;}
}


